h1 {
    text-align: center;
}

#game {
    width: 1024px;
    height: 512px;

    margin: 0 auto;
    position: relative;
}

#pixi-container {
    width: 1024px;
    height: 512px;

    position: absolute;
    top: 0px;
    left: 0px;
}

#game-overlay {
    width: 1024px;
    height: 512px;
    position: absolute;
    top: 0px;
    left: 0px;
    
    background: url(assets/overlay.svg);
    background-size: 1024px 512px;
}

#game-overlay #chat {
    position: absolute;
    top: 474px;
    left: 300px;
    width: 421px;

    font-size: 19px;
    font-family: 'Risque', cursive;
}
